body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(172, 64, 64);
    height: 60px;
    color: white;
}

.content {
    height: 500px;
    
}

footer {
    background-color: rgb(192, 19, 19);
    color: white;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {background-color: coral;}